body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  /* background: linear-gradient(#141e30, #243b55); */
  background: url("../images/login.jpg") no-repeat center center fixed;
  background-size: cover;
}

